<md-toolbar color="primary">
    <span class="main-title">{{title}}</span>
    <span class="fill-remaining-space"></span>
    <irl-component-profile *ngIf="authenticationModel.authenticated === 0" [profile]="profile"></irl-component-profile>
    
    <md-toolbar-row>
        <img class="strava-powered" src="../assets/api_logo_pwrdBy_strava_horiz_white.svg"/>
        <span class="fill-remaining-space"></span>
        <irl-component-logout *ngIf="authenticationModel.authenticated === 0"></irl-component-logout>
    </md-toolbar-row>

</md-toolbar>
