.profile-card {
    margin: 16px;
}

.avatar-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.title-text {
    height: 50%;
    line-height: 22.5px;
    vertical-align: text-top;
    font-size: 14px;
    text-align: right;
}

.sub-title-text {
    height: 50%;
    line-height: 22.5px;
    vertical-align: text-bottom;
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
}

.profile-container {
    display: flex;
    flex-direction: row;
}

.profile-info {
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width : 640px) {
    .profile-info {
        visibility: hidden;
    }
}