.progress-card-title {
    font-size: 18px;
}

.progress-content-title {
    margin-bottom: 4px;
}

.progress-content-subtitle {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.54);
}

.progress-card-good, .progress-card-ok, .progress-card-bad, .progress-card-none {
    /*width: 240px;*/
    /*margin-right: 8px;
    margin-top: 8px;*/
}

.progress-card-good {
    border-left: 8px solid #43a047;
}

.progress-card-ok {
    border-left: 8px solid #fdd835;
}

.progress-card-bad {
    border-left: 8px solid #e53935;
}
