.progress-card-title {
    font-size: 18px;
}

.progress-content-title {
    margin-bottom: 4px;
}

.progress-content-subtitle {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.54);
}

.progress-card-good, .progress-card-ok, .progress-card-bad, .progress-card-none {
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

mat-card {
    padding: 16px;
}

mat-card-title {
    margin-bottom: 8px;
}

.progress-card-type {
    font-size: 14px;
    font-variant: small-caps;
    color: rgba(0, 0, 0, 0.34);
}

.progress-card-good {
    border-left: 8px solid #43a047;
}

.progress-card-ok {
    border-left: 8px solid #fdd835;
}

.progress-card-bad {
    border-left: 8px solid #e53935;
}
