.shoes-shell {
    margin: 8px;
    padding: 12px;
}

.shoes-container {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

.shoes-title {
    font-size: 24px;
    margin-bottom: 8px;
}

.shoes-subtitle {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 8px;
}