.summary-container {
    padding: 16px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.summary-label, .summary-value {
    font-size: 14px;
    display: inline-block;
}

.summary-label {
    font-weight: bold;
    color: #ff5722;
}

.summary-value {
    margin-right: 8px;
}