<div class="summary-container">
    <div class="summary-item">
        <div class="summary-label">This Week:</div>
        <div class="summary-value">{{model.thisWeek}}</div>
    </div>
    <div class="summary-item">
        <div class="summary-label">This Month:</div>
        <div class="summary-value">{{model.thisMonth}}</div>
    </div>
    <div class="summary-item">
        <div class="summary-label">This Year:</div>
        <div class="summary-value">{{model.thisYear}}</div>
    </div>
    <div class="summary-item">
        <div class="summary-label">All Time:</div>
        <div class="summary-value">{{model.allTime}}</div>
    </div>
</div>