.summary-container {
    /*padding: 16px 16px 0 16px;*/
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.summary-label, .summary-value {
    font-size: 16px;
}

.summary-label {
    font-weight: bold;
    color: #ff5722;
}

.summary-value {
    color: rgba(0, 0, 0, 0.54);
    margin-right: 8px;
}