<div class="summary-container">
    <div class="aummary-item">
        <span class="summary-label">This Week:</span>
        <span class="summary-value">{{model.thisWeek}}</span>
    </div>
    <div class="aummary-item">
        <span class="summary-label">This Month:</span>
        <span class="summary-value">{{model.thisMonth}}</span>
    </div>
    <div class="aummary-item">
        <span class="summary-label">This Year:</span>
        <span class="summary-value">{{model.thisYear}}</span>
    </div>
    <div class="aummary-item">
        <span class="summary-label">All Time:</span>
        <span class="summary-value">{{model.allTime}}</span>
    </div>
</div>