<div class="main-container-shell">
  <md-toolbar>
    <span>{{toolbarTitle}}</span>

    <span class="fill-remaining-space"></span>

    <span>{{toolbarSubTitle}}</span>
  </md-toolbar>

  <div class="main-container">
    <div class="content">
      <md-card class="card-login-status">
        <md-card-title>authenticated = {{(authModel | async).authenticated}}</md-card-title>
        <md-card-subtitle *ngIf="(authModel | async).username">{{(authModel | async).username}}</md-card-subtitle>
        <md-card-subtitle *ngIf="!(authModel | async).username">Login below</md-card-subtitle>
        <md-card-actions>
          <button md-raised-button color="accent" *ngIf="!(authModel | async).authenticated" (click)="auth.login()">Login</button>
          <button md-raised-button color="primary" *ngIf="(authModel | async).authenticated" (click)="auth.logout()">Logout</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
