.login-component-card {
    min-width: 200px;
    max-width: 300px;
}

.login-component-content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.login-button {
    display: block;
    margin: auto;
}

.login-button-container {
    margin-top: 32px;
    width: 100%;
}
