<div class="login-component-content">
    <div>
        <md-card class="login-component-card">
            <md-card-title>irunninglog</md-card-title>
            <md-card-subtitle>Visualize your Strava workouts</md-card-subtitle>

            <md-card-content>
                <p>
                    Use irunninglog to get an alternative view of your Strava running workouts. 
                </p>

                <p>
                    Take advantage of irunninglog's customizable interface to view historical performance, track progress against goals, and much more.
                </p>

                <p>
                    Use the button below to safely and securely login using your Strava account.
                </p>
            </md-card-content>
        </md-card>
        
        <div class="login-button-container">
            <input type="image" (click)="login()" class="login-button" src="../assets/btn_strava_connectwith_orange.svg"/>
        </div>
    </div>
</div>