<div class="streaks-shell">
    <div class="streaks-title">Streaks</div>
    <div class="streaks-subtitle">Most days run consecutively</div>
    <div class="streaks-container">
        <md-card class="streaks-card-good">
            <md-card-title class="streaks-card-title">Longest Streak Ever</md-card-title>
            <md-card-subtitle>From Jan 1, 2015 to Oct 2, 2015</md-card-subtitle>
            <md-card-content>
                <div class="streaks-content-title">274 days</div>
                <div class="streaks-content-subtitle">274 workouts</div>
            </md-card-content>
        </md-card>
        <md-card class="streaks-card-ok">
            <md-card-title class="streaks-card-title">Current Streak</md-card-title>
            <md-card-subtitle>From Dec 4, 2016 to Jun 8, 2017</md-card-subtitle>
            <md-card-content>
                <div class="streaks-content-title">184 days</div>
                <div class="streaks-content-subtitle">187 workouts</div>
            </md-card-content>
        </md-card>
        <md-card class="streaks-card-ok">
            <md-card-title class="streaks-card-title">Longest Streak This Year</md-card-title>
            <md-card-subtitle>From Dec 4, 2016 to Jun 8, 2017</md-card-subtitle>
            <md-card-content>
                <div class="streaks-content-title">184 days</div>
                <div class="streaks-content-subtitle">187 workouts</div>
            </md-card-content>
        </md-card>
    </div>
</div>