.streaks-shell {
    margin: 8px;
    padding: 12px;
}

.streaks-container {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

.streaks-title {
    font-size: 24px;
    margin-bottom: 8px;
}

.streaks-subtitle {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 8px;
}