.total-d3 {
    height: 100px;
    width: 100px;
}

.yearly-year, .yearly-total {
    font-size: 14px;
    text-align: center;
}

.yearly-year {
    margin-top: 8px;
    font-weight: bold;
    color: #ff5722;
}

.yearly-total-percentage {
    fill: #ff5722; 
    font-size: 20px;
}

/*.shadow {

}*/
