@import '~@angular/material/prebuilt-themes/purple-green.css';

html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  color: #cccccc;
}

irl-component-header, irl-component-login {
  display: flex;
}

.irl-page-container {
  width: 100%;
  margin: 0;
}
