@import '~@angular/material/prebuilt-themes/purple-green.css';

html {
  margin: 0;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  margin: 0;
  display: flex;
  font-family: Roboto, Arial, sans-serif;
}

irl-component-header, irl-component-login {
  display: flex;
}

.irl-page-container {
  width: 100%;
  margin: 0;
}

.mat-toolbar-row {
  height: 52px !important;
}
