.bad {
    color: #e53935;
}

.ok {
    color: #fdd835;
}

.good {
    color: #43a047;
}

.none, .bad, .good, .ok {
    font-size: 14px;
    font-variant: small-caps;
    padding:  2px 4px;
    border-radius: 5px;
}

.status-label, .error-code-label {
    font-size: 12px;
}

.status-ms {
    font-size: 12px;
}

.status-value, .error-code-value {
    font-weight: bold;
    font-size: 14px;
}
