.bad {
    background-color: #e53935;
}

.ok {
    background-color: #fdd835;
}

.good {
    background-color: #43a047;
}

.none {
    margin: 8px;
}

.none, .bad, .good, .ok {
    padding: 4px;
}

.status-label, .error-code-label {
    font-size: 12px;
}

.status-ms {
    font-size: 12px;
    color: rgba(0, 0, 0, .54); 
}

.status-value, .error-code-value {
    font-weight: bold;
    font-size: 14px;
}
